<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:content="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 打开Spring的Annotation的支持 -->
    <content:annotation-config/>
    <!-- 自动扫描指定包及其子包下的所有的Bean类 -->
    <content:component-scan base-package="com.ssm.ser"/>
    <import resource="classpath*:/dubbo-provider.xml"/>

</beans>